*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body,html{
    background-color:#56667C;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #051836af, #56667C  )  ;
    
}
body::-webkit-scrollbar{
    display: none;
}
section{
    width: 100vw;
    max-width: 1100px;
}
.hero{
    position: relative;
    min-height: 100vh;
    display: flex;
}
.hero div{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero div:nth-child(1){
/* background-color:red ; */
width: 15%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-left: 5%;
}
.hero div:nth-child(1) .btn{
/* background-color: black; */
width: 35px;
border: none;
border-radius: 50%;
font-weight: bold;
/* padding: 2px; */
margin: 10px;
height: 35px;
cursor: pointer;
}
.hero div:nth-child(1) .btn:nth-child(1){
    background-color: black;
    border: 1px solid #fff;
    color: #fff;
}
.hero div:nth-child(1) .btn:nth-child(2){
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}
.hero div:nth-child(1) .btn:nth-child(3){
    background-color: #051836;
    border: 1px solid #fff;
    color: #fff;
}
.hero div:nth-child(1) .btn:nth-child(4){
    background-color: #374151;
    border: 1px solid #fff;
    color: #fff;
}

.btn{
    cursor: pointer;
}
.hero div:nth-child(2){
/* background-color: blue; */
width: 40%;
}
.hero div:nth-child(2) div:nth-child(1){
    /* background-color: red; */
    width: 100%;
}
.hero div:nth-child(2) div:nth-child(1) img{
    width: 100%;
}
.hero div:nth-child(2) div:nth-child(2){
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: red; */
    background-color: transparent;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.hero div:nth-child(2) div:nth-child(2) img{
    width: 10%;
    border: 1px solid rgb(161, 159, 159);
    /* padding: 2px; */
    cursor: pointer;
    margin: 10px;
}

.hero div:nth-child(3){
/* background-color: green; */
width: 40%;
}
.hero div:nth-child(3) >*{
    margin-right: 30px;
}
.hero div:nth-child(3) h1{
    font-size: 2rem;
    color: #fff;
    margin: 20px 0;
}
.hero div:nth-child(3) p{
    font-size: 1.2rem;
    color: #fff;
}
.hero div:nth-child(3) .btn{
    margin: 20px 0;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}
.hero div:nth-child(3) .btn:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #051836;
}
.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2 div{
    /* min-height: 300px; */
}
.section2 div:nth-child(1){
    width: 60%;
    margin: 10px;
    /* background-color: red; */
    
}
.section2 div:nth-child(2){
    width: 30%;
    /* background-color: red; */
}
.section2 div:nth-child(1) h1{
    font-size: 2rem;
    color: #051836;
    margin: 20px 0;
}
p{
    line-height: 30px;
    word-spacing: 2px;
}
.section2 div:nth-child(1) p{
    font-size: 1rem;
    margin-top: 10px;
    color: #fff;
}
.section2 div:nth-child(2) img{
    width: 100%;
    /* display: none; */
}